<table width="100%" cellpadding="0" cellspacing="0" bgcolor="e4e4e4">
  <tr>
    <td>
      <table id="top-message" cellpadding="20" cellspacing="0" width="600" align="center">
        <tr>
          <td></td>
        </tr>
      </table>

      <table id="main" width="600" align="center" cellpadding="0" cellspacing="15" bgcolor="ffffff">
        <tr>
          <td>
            <table id="header" cellpadding="10" cellspacing="0" align="center" bgcolor="8fb3e9">
              <tr>
                <td height="50" width="570" align="center" bgcolor="#2d753b">
                  <h1>Obrigado por colaborar com este teste!</h1>
                </td>
              </tr>
              <tr>
                <td width="570" align="right" bgcolor="#2d753b">
                  <p>Janeiro 2019</p> 
                  <!-- COLOCAR ESSA PARTE DINÂMICA -->
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <table id="content-3" cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td width="400" valign="top" bgcolor="d0d0d0" style="padding:5px;">
                  <img src="https://media2.giphy.com/media/258KoczzDzsbK/giphy.gif" width="400" height="230" />
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <table id="content-4" cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td width="400" valign="top" align="center">
                  <h5>Isto era um teste!!! A sua inconsistência no ponto é real e não computamos sua justificativa no ahgora!!</h5>
                  <p class="text-center">Não fique triste, estamos validando esta solução... A partir desta resposta iremos criar uma solução rápida para justificar o ponto e facilitar tanto
                  a sua vida quanto a de seu gestor. Quaisquer feedbacks fique a vontade para nos contactar, estamos
                  no aquário.</p>
                  <a class="link" href="https://www.ahgora.com.br/batidas/apuracao">PS: Não esqueça de realmente justificar a falta no ahgora clicando aqui!!!!!</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

      </table>
      <table id="bottom" cellpadding="20" cellspacing="0" width="600" align="center">
        <tr>
          <td align="center"></td>
        </tr>
      </table><!-- top message -->
    </td>
  </tr>
</table><!-- wrapper -->
